<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="room-create.component.css">
  <title>Room Creation</title>
</head>
<body class="container">
  <div class="card">
    <div class="card-header">
      <h2>Room Creation</h2>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Room ID</th>
            <th>Room Type</th>
            <th>Room Capacity</th>
            <th>Room Price</th>
            <th>Room Availability
              <div class="availability-dropdown">
                <button class="dropbtn">Filter</button>
                <div class="dropdown-content">
                  <button (click)="filterByAvailability(true)">Available</button>
                  <button (click)="filterByAvailability(false)">Not Available</button>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms">
            <td>{{ room?.roomNumber }}</td>
            <td>{{ room?.type }}</td>
            <td>{{ room?.capacity }}</td>
            <td>{{ room?.price }}</td>
            <td>{{ room?.available ? 'Available' : 'Not Available' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="showAddRoomForm" class="add-room-form">
    <h2>Add Room</h2>
    <form (ngSubmit)="addRoom()">
      <div>
        <label for="newroomNumber">Room Number:</label>
        <input type="text" id="newroomNumber" [value]="selectedRoom?.roomNumber" name="newroomNumber" required>
      </div>
      <div>
        <label for="newroomtype">Type:</label>
        <input type="text" id="newroomtype" [value]="selectedRoom?.type" name="newroomtype" required>
      </div>
      <div>
        <label for="newroomcapacity">Capacity:</label>
        <input type="number" id="newroomcapacity" [value]="selectedRoom?.capacity" name="newroomcapacity" required>
      </div>
      <div>
        <label for="newroomprice">Price:</label>
        <input type="number" id="newroomprice" [value]="selectedRoom?.price" name="newroomprice" required>
      </div>
      <div>
        <label for="newroomavailable">Available:</label>
        <input type="checkbox" id="newroomavailable" [checked]="selectedRoom?.available" name="newroomavailable">
      </div>
      <button type="submit">Add</button>
      <button type="button" (click)="updateRoom()">Update</button>
      <button type="button" (click)="deleteRoom(selectedRoom?.roomid)">Delete</button>
    </form>
  </div>
</body>
</html>