
<div class="container">
  <div class="filter">
    <mat-form-field>
      <mat-label>From date</mat-label>
      <input matInput [matDatepicker]="fromDate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>To date</mat-label>
      <input matInput [matDatepicker]="toDate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select #roomTypes>
        <mat-option id="1" value="one">First option</mat-option>
        <mat-option id="2" value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary">Search</button>
  </div>
  <div div class="bookings-container">
    <table class="bookings-table">
       <thead>
         <tr>
           <th>Visitor Name</th>
           <th>From Date</th>
           <th>To Date</th>
           <th>Action</th>
         </tr>
       </thead>
       <tbody>
          <tr *ngFor="let booking of pagedBookings">
             <td>{{ booking.visitorDetails.firstName }} {{ booking.visitorDetails.lastName }}</td>
             <td>{{ booking.fromDate | date }}</td>
             <td>{{ booking.toDate | date }}</td>
             <td><button mat-raised-button color="primary" (click)="viewBooking(booking.id)">View</button></td>
         </tr>
       </tbody>
     </table>
     </div>
    
     <div class="pagination-container">
     <mat-paginator [length]="bookings.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
   </div>
</div>

