<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Page</title>
  <link rel="stylesheet" href="bookings.component.css">
</head>
<body>
  <div class="bookings-container">
    <div class="filter-section">
      <input type="text" placeholder="Status" [(ngModel)]="statusFilter">
      <input type="date" placeholder="From Date" [(ngModel)]="fromDateFilter">
      <input type="date" placeholder="To Date" [(ngModel)]="toDateFilter">
      <button (click)="applyFilter()">Apply Filter</button>
    </div>
    
<h2>All Bookings</h2>
<div div class="bookings-container">
 <table class="bookings-table">
    <thead>
      <tr>
        <th>Visitor Name</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings" class="bookings-table">
        <td>{{ booking.visitorDetails.firstName }} {{ booking.visitorDetails.lastName }}</td>
        <td>{{ booking.fromDate }}</td>
        <td>{{ booking.toDate }}</td>
        <td><button (click)="viewBooking(booking.id)">View</button></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  <mat-paginator [length]="bookings.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
  </body>
</html>