<div class="container">
    <div class="card">
        <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                  <label for="username">Username:</label>
                  <input type="text" id="username" formControlName="username">
                  <div *ngIf="usernameControl?.invalid && (usernameControl?.dirty || usernameControl?.touched)">
                    <div *ngIf="usernameControl?.errors?.['required']">Username is required.</div>
                  </div>
                </div>
                <div>
                  <label for="password">Password:</label>
                  <input type="password" id="password" formControlName="password">
                  <div *ngIf="passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)">
                    <div *ngIf="passwordControl?.errors?.['required']">Password is required.</div>
                  </div>
                </div>
                <button type="submit">Login</button>
        </form>
    </div>
</div>