.modal-dialog {
    max-width:500;
    margin: 30px auto;
}

.model-content {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

.modal-header .modal-title {
    margin: 0;
    color: #333;
}

.modal-body textarea {
    width: 100%;
    min-height: 100px
    resize: vertical;
}

.modal-footer {
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    text-align: right;
}

.modal-footer .btn {
    margin-left:5px;
}
